@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jaapokki Subtract Regular";
  src: url("../../public/assets/fonts/Jaapokkisubtract-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: #151515;
  font-family: "Jaapokki Subtract Regular", "sans-serif";
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
